@use "./colors" as *;
@use "./reset" as *;
@use "./typography" as *;

body {
	padding: 40px;
	min-height: 100vh;
	font-size: rem(16px);
	font-family: $ff-body;
	font-weight: $fw-normal;
	color: $white;
	background-color: $violet;
}

.bg-mobile-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -20;
}

@media (min-width: 600px) {
	.bg-picture {
		height: 100%;
	}
}

.company-logo {
	width: 120px;
}
