@use "./colors" as *;
@use "./reset" as *;
@use "./typography" as *;

body {
	padding: 38px 35px 40px;
	padding-top: 38px;
	min-height: 100vh;
	font-size: rem(16px);
	font-family: $ff-body;
	font-weight: $fw-normal;
	color: $white;
	background-color: $violet;
}

.bg-mobile-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -20;
}

@media (min-width: 660px) {
	.bg-mobile-image {
		height: 100%;
	}
}

.company-logo {
	width: 120px;
}

.content-container {
	text-align: center;
}

.mockups-img {
	margin-top: 55px;
}

.main-heading {
	margin-top: 60px;
	font-family: $ff-heading;
	font-size: rem(24px);
	font-weight: $fw-bold;
	line-height: rem(36px);
}

.description {
	margin-top: 16px;
	font-size: rem(16px);
	font-weight: $fw-normal;
	line-height: rem(24px);
}

.btn {
	min-height: 30px;
	min-width: 20ch;
	font-size: rem(12px);
	color: $violet;
	font-family: $ff-heading;
	background: $white;
	border-radius: 20px;
	box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);

	&:focus {
		outline-style: solid;
		outline-color: transparent;
		box-shadow: 0 0 0 4px scale-color($violet, $lightness: -70%);
	}

	&-register {
		margin-top: 24px;
		padding: 11px 76px;
		transition: all 0.3s;
		&:hover {
			background: $light-pink;
			color: $white;
		}
	}
}

.social-links {
	margin-top: 64px;
	display: flex;
	justify-content: center;
	gap: rem(11px);
	font-size: 13px;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	transition: all 0.3s;
}

a.circle:hover {
	color: $pink;
	border: 1px solid $pink;
}

@media (min-width: 600px) {
	body {
		padding: 64px 80px 40px;
	}

	.company-logo {
		width: 200px;
	}

	.main-heading {
		font-size: rem(40px);
		// line-height: rem(60px);
	}

	.description {
		margin-top: 24px;
		font-size: rem(18px);
	}

	.btn {
		font-size: rem(18px);
		line-height: rem(27px);
		border-radius: 28px;
		box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
		&-register {
			padding: 13px 64px 16px;
		}
	}

	.circle {
		width: 40px;
		height: 40px;
	}

	.social-links {
		font-size: 17px;
	}
}

@media (min-width: 660px) {
	.social-links {
		justify-content: end;
		gap: rem(15px);
	}
}
